<{include file="header.html"}>
<{include file="topnav.html"}>

<div class="container">
	<table>
	<tr><th><{$lang['base.self.task.taskList.tableHeader1']}></th>
	<th><{$lang['base.self.task.taskList.tableHeader2']}></th>
	<th><{$lang['base.self.task.taskList.tableHeader3']}></th>
	<th><{$lang['base.self.task.taskList.tableHeader4']}></th>
	<th><{$lang['base.self.task.taskList.tableHeader5']}></th>
	<th><{$lang['base.self.task.taskList.tableHeader6']}></th></tr>
	<{foreach from=$task item=t}>
	<tr><td><{$t.document_typelv1_name}></td>
	<td><{$t.apply_employee}></td>
	<td><{$t.period}><br/><{$t.reason}></td>
	<td><{$t.apply_date}></td>
	<td><{$t.apply_alternative}></td>
	<td><{$lang['base.self.task.taskList.tableHeader7']}> <input class="span-8 comment"/>
	<span class="clickbtn agreeApply" s="<{$t.document_typelv1_nameen}>" a="agree" e="<{$t.employee_id}>" i="<{$t.id}>" k="<{$t.author_key}>">[<{$lang['base.self.task.taskList.agreeButtonLabel']}>]</span>
	<span class="clickbtn denyApply" s="<{$t.document_typelv1_nameen}>" a="deny" e="<{$t.employee_id}>" i="<{$t.id}>" k="<{$t.author_key}>">[<{$lang['base.self.task.taskList.declineButtonLabel']}>]</span></td></tr>
	<{/foreach}>
	</table>
</div>

<div id="alertDiv" style="display:hidden;">数据递交中，大约需要5秒，请耐心等待。<br/>等待期间请不要关闭此窗口，谢谢！</div>
<{include file="declaration.html"}>
<{include file="footer.html"}>

<script>
$(function(){
	$('#alertDiv').dialog({
		autoOpen: false,
		modal: true
	})
	$('.agreeApply').click(function(){
		if(confirm('确认同意此申请？')){		
			$('#alertDiv').dialog('open');
			$.post('<{$WEBSERVER}>api/approval.php',{'s':$(this).attr('s'),'a':$(this).attr('a'),'i':$(this).attr('i'),'e':$(this).attr('e'),'k':$(this).attr('k'),'comment':$(this).parent().find('.comment').val()},function(data){
				window.location.reload();
			})
		}
	})
	$('.denyApply').click(function(){
		if(confirm('确认拒绝此申请？')){		
			$('#alertDiv').dialog('open');
			$.post('<{$WEBSERVER}>api/approval.php',{'s':$(this).attr('s'),'a':$(this).attr('a'),'i':$(this).attr('i'),'e':$(this).attr('e'),'k':$(this).attr('k'),'comment':$(this).parent().find('.comment').val()},function(data){
				window.location.reload();
			})
		}
	})
})
</script>