<{foreach from=$expense_apply item=ea}>
	<table>
		<tr><th>编号</th><td><{$ea.apply_no}></td></tr>
		<tr><th>申请人</th><td><{$ea.apply_employee_name}>, <{$ea.apply_employee_no}></td></tr>
		<tr><th>金额</th><td><{$ea.apply_money}></td></tr>
		<tr><th>申请日期</th><td><{$ea.apply_date}></td></tr>
		<tr>
			<td colspan="2">
			金额明细：
				<table>
					<tr>
						<th>发票编号</th>
						<th>金额</th>
						<th>日期</th>
						<th>客户信息</th>
						<th>备注</th>
						</tr>
					<{foreach from=$apply_detail item=ad}>
					<tr>
						<td><{$ad.invoice_no}></td>
						<td><{$ad.expense_money}></td>
						<td><{$ad.expense_date}></td>
						<td><{$ad.expense_target_customer}>, <{$ad.expense_target_person_name}>, <{$ad.expense_target_person_position}></td>
						<td><{$ad.expense_description}></td>
						</tr>
					<{/foreach}>
				</table>
			</td>
		</tr>
	</table>
<{/foreach}>