<{include file="header.html"}>
<{include file="topnav.html"}>

<style>
.applyTable th{
	text-align:right;
}
</style>

<div class="container applyTable">
<form id="applyForm">
	<table>
		<tr><th>假期类型</th>
			<td><select id="leaveType" name="leaveType">
				<option value="0">-请选择假期类型-</option>
				<{foreach from=$leave item=l}>
				<option value="<{$l.id}>"><{$l.name}></option>
				<{/foreach}>
			</select></td></tr>
		<tr><th>起始日期</th><td><input id="leaveStartDate" name="leaveStartDate" readonly/>
								<select id="leaveStartTime" name="leaveStartTime"><option value="09:00:00">上午</option><option value="13:00:00">下午</option></select></td></tr>
		<tr><th>结束日期</th><td><input id="leaveEndDate" name="leaveEndDate" readonly/>
								<select id="leaveEndTime" name="leaveEndTime"><option value="17:00:00">下午</option><option value="13:00:00">上午</option></select></td></tr>
		<tr><th>请假事由</th><td><textarea id="leaveReason" name="leaveReason"></textarea></td></tr>
		<tr><th>不在公司期间<br/>的指定代办人</th><td><select id="leaveAlter" name="leaveAlter">
									<option value="0">-请选择指定代办人-</option>
									<{foreach from=$employee item=e}>
									<option value="<{$e.id}>"><{$e.name}> - <{$e.namezh}></option>
									<{/foreach}>
								</select></td></tr>
		<tr><td></td><td><span class="clickbtn" id="applyConfirm">[确认申请]</span></td></tr>
	</table>
</form>
</div>

<div id="alertDiv">假期申请发送中，请耐心等待12秒左右，切勿关闭此窗口，谢谢！</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script type="text/javascript">
	$(function(){
		$('#alertDiv').dialog({
			'modal':true,
			'autoOpen':false
		});
		
		$('#leaveStartDate, #leaveEndDate').datepicker({
			'dateFormat':'yy-mm-dd'
		});
		
		$('#applyConfirm').click(function(){
			if(confirm('确认递交申请？')){
				if($('#leaveType').val()==0 || $('#leaveStartDate').val()=='' || $('#leaveEndDate').val()=='' || $('#leaveAlter').val()==0){
					alert('假期类型、起始-结束日期、指定代办员工为必填项，请检查！');
				}else{
					$('#alertDiv').dialog('open');
					$.post('index.php?m=hr&s=leave&a=submit', $('#applyForm').serialize(), function(data){
						var json = eval('(' + data + ')');
						if(json.httpstatus == 200){
							alert(json.msg);
							window.location = 'index.php?m=hr&s=leave&a=list';
						}else{
							alert(json.error);
						}
					})					
				}				
			}
		})
	})
</script>