<{include file="header.html"}>
<{include file="topnav.html"}>

<style>
#report tr.company td{background-color:#336699;color:#ffffff;font-weight:bold;cursor:normal;}
#report tr.location td{background-color:#6699cc;color:#ffffff;cursor:normal;}
#report tr.department td{background-color:#99ccff;cursor:normal;}
#report tr.employee td{background-color:#eeeeee;display:;}
#report tr.employee td.nonestyle{background:none;cursor:normal;}
#report tr.employee td.employee:hover{background-color:pink;display:;cursor:pointer;}
#report tr.employee td.nonestyle:hover{background:none;cursor:normal;}
#report tr.apply td.nonestyle{background:none;cursor:normal;}
#report tr.apply td.detail{background:none;cursor:normal;}
#report tr.apply td.detail table td{background:none;}
</style>

<div class="container">
<strong>年份</strong>
<select id="yearSelect">
<option <{if $yearSelect=="2012"}>selected<{/if}>>2012</option>
<option <{if $yearSelect=="2013"}>selected<{/if}>>2013</option>
<option <{if $yearSelect=="2014"}>selected<{/if}>>2014</option>
<option <{if $yearSelect=="2015"}>selected<{/if}>>2015</option>
<option <{if $yearSelect=="2016"}>selected<{/if}>>2016</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;
<strong>月份</strong>
<select id="timeSelect">
<option value="0">-请选择-</option>
<option value="1" <{if $timeSelect=="1"}>selected<{/if}>>1月</option>
<option value="2" <{if $timeSelect=="2"}>selected<{/if}>>2月</option>
<option value="3" <{if $timeSelect=="3"}>selected<{/if}>>3月</option>
<option value="4" <{if $timeSelect=="4"}>selected<{/if}>>4月</option>
<option value="5" <{if $timeSelect=="5"}>selected<{/if}>>5月</option>
<option value="6" <{if $timeSelect=="6"}>selected<{/if}>>6月</option>
<option value="7" <{if $timeSelect=="7"}>selected<{/if}>>7月</option>
<option value="8" <{if $timeSelect=="8"}>selected<{/if}>>8月</option>
<option value="9" <{if $timeSelect=="9"}>selected<{/if}>>9月</option>
<option value="10" <{if $timeSelect=="10"}>selected<{/if}>>10月</option>
<option value="11" <{if $timeSelect=="11"}>selected<{/if}>>11月</option>
<option value="12" <{if $timeSelect=="12"}>selected<{/if}>>12月</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;
<strong>假期类型</strong>
<select id="typeSelect">
<option value="0">-请选择-</option>
<{foreach from=$type item=t}>
<option value="<{$t.id}>" <{if $typeSelect==$t.id}>selected<{/if}>><{$t.name}></option>
<{/foreach}>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;
<strong>员工</strong>
<select id="employeeSelect">
<option value="0">-请选择-</option>
<{foreach from=$employee item=e}>
<option value="<{$e.id}>" <{if $employeeSelect==$e.id}>selected<{/if}>><{$e.namezh}>(<{$e.name}>)</option>
<{/foreach}>
</select>
<span class="clickbtn reportSearch">[查看]</span>
<span class="clickbtn reportExport">[导出Excel]</span>
</div>

<div class="container">
<table id="report">
	<{foreach from=$department item=d}>
	<{if $count["department_`$d.id`"]['count']!=0}>
	<tr class="department"><td><{$d.name}></td><td><{$count["department_`$d.id`"]['count']}>天</td></tr>
		<{foreach from=$employee item=e}>
		<{if $e.department_id==$d.id && $count["employee_`$e.id`"]['count']!=0}>
		<tr class="employee"><td class="nonestyle span-2"></td><td class="employee" i="<{$e.id}>"><{$e.namezh}> (<{$e.name}>)  <{$count["employee_`$e.id`"]['count']}>天</td></tr>
		<{/if}>
		<{/foreach}>
	<{/if}>
	<{/foreach}>
</table>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script type="text/javascript">
$(function(){
	alertDivInit();
	
	$('tr.employee td.employee').click(function(){
		$('tr.apply').remove();
		var o = $(this);
		var id = $(o).attr('i');
		$(o).parent().after('<tr class="apply"><td class="nonestyle"></td><td class="detail"></td></tr>');
		$.post('index.php?m=hr&s=report&a=get.employee.leave'+'&yearSelect='+$('#yearSelect').val()+'&timeSelect='+$('#timeSelect').val(),{'id':id},function(data){
			var json = eval('(' + data + ')');
			if(json.httpstatus==200){
				$('tr.apply').find('td.detail').html(json.msg);
				$('#alertDiv').dialog('close');
			}else{
				$('tr.apply').remove();
				alert(json.error);
			}
		})
	})
	
	$('.reportSearch').click(function(){
		window.location = 'index.php?m=hr&s=report&a=leave.apply.manager.report&employeeSelect='+$('#employeeSelect').val()+'&yearSelect='+$('#yearSelect').val()+'&timeSelect='+$('#timeSelect').val()+'&typeSelect='+$('#typeSelect').val();
	})
	$('.reportExport').click(function(){
		window.open('index.php?m=hr&s=report&a=leave.apply.manager.report.export&employeeSelect='+$('#employeeSelect').val()+'&yearSelect='+$('#yearSelect').val()+'&timeSelect='+$('#timeSelect').val()+'&typeSelect='+$('#typeSelect').val());
	})
})
</script>