<{include file="header.html"}>
<{include file="topnav.html"}>

<style>
.applyTable th{
	text-align:right;
}
</style>

<div class="container applyTable">
<form id="applyForm">
	<table>
		<tr><th>日期</th>
		<td><input id="overtimeDate" name="overtimeDate" readonly/></td></tr>
		<tr><th>时长</th>
		<td><input id="overtimePeriod" name="overtimePeriod"/>小时</td></tr>
		<tr><th>地点</th>
		<td><input id="overtimeLocation" name="overtimeLocation" class="span-8"/></td></tr>
		<tr><th>事由</th>
		<td><input id="overtimeReason" name="overtimeReason" class="span-16"/></td></tr>
		<tr><th>申请结果抄送</th><td><select id="overtimeCopy" name="overtimeCopy[]" multiple="multiple">
									<{foreach from=$employee item=e}>
									<option value="<{$e.id}>"><{$e.name}> - <{$e.namezh}></option>
									<{/foreach}>
								</select></td></tr>
		<tr><td></td><td><span class="clickbtn" id="applyConfirm">[确认申请]</span></td></tr>
	</table>
</form>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script type="text/javascript">
	$(function(){
		alertDivInit();
		
		$('#overtimeDate').datepicker({
			'dateFormat':'yy-mm-dd'
		});
		
		$('#applyConfirm').click(function(){
			alertDivPostData({
				initMsg: '加班申请发送中，请耐心等待5秒左右，切勿关闭此窗口，谢谢！',
				postUrl: 'index.php?m=hr&s=overtime&a=submit',
				postData: $('#applyForm').serialize(),
				postConfirm: '确认递交申请？',
				redirectUrl: 'index.php?m=hr&s=overtime&a=list',
				tipBeforePost: '日期、时长、地点和事由为必填项，请检查！',
				checkBeforePost: ' $("#overtimeDate").val()!="" '
					+'&& $("#overtimePeriod").val()!="" '
					+'&& $("#overtimeLocation").val()!="" '
					+'&& $("#overtimeReason").val()!="" '
			})
		})
	})
</script>