<{include file="header.html"}>
<{include file="topnav.html"}>

<style>
.applyTable th{
	text-align:right;
}
</style>

<div class="container applyTable">
<form id="applyForm">
	<table>
		<tr><th>目的地</th><td><input id="travelTarget" name="travelTarget"/></td></tr>
		<tr><th>起始日期</th><td><input id="travelStartDate" name="travelStartDate" readonly/>
								<select id="travelStartTime" name="travelStartTime"><option value="09:00:00">上午</option><option value="13:00:00">下午</option></select></td></tr>
		<tr><th>结束日期</th><td><input id="travelEndDate" name="travelEndDate" readonly/>
								<select id="travelEndTime" name="travelEndTime"><option value="13:00:00">上午</option><option value="17:00:00">下午</option></select></td></tr>
		<tr><th>出差事由</th><td><input id="travelReason" name="travelReason" class="span-16"/></td></tr>
		<tr><th>费用预算<br/>(机票费用除外)</th><td><select id="travelCurrencyId" name="travelCurrencyId"><option value="1">人民币</option></select>
								<input id="travelExpense" name="travelExpense"/></td></tr>
		<tr><th>不在公司期间<br/>的指定代办人</th><td><select id="travelAlter" name="travelAlter">
									<option value="0">-请选择指定代办员工-</option>
									<{foreach from=$employee item=e}>
									<option value="<{$e.id}>"><{$e.name}> - <{$e.namezh}></option>
									<{/foreach}>
								</select></td></tr>
		<tr><th>申请结果抄送</th><td><select id="travelCopy" name="travelCopy[]" multiple="multiple">
									<{foreach from=$employee item=e}>
									<option value="<{$e.id}>"><{$e.name}> - <{$e.namezh}></option>
									<{/foreach}>
								</select></td></tr>
		<tr><th></th><td><span class="clickbtn" id="applyConfirm">[确认申请]</span></td></tr>
	</table>
</form>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script type="text/javascript">
	$(function(){
		alertDivInit();
		
		$('#travelStartDate, #travelEndDate').datepicker({
			'dateFormat':'yy-mm-dd'
		});
		
		$('#applyConfirm').click(function(){
			alertDivPostData({
				initMsg: '差旅申请发送中，请耐心等待12秒左右，切勿关闭此窗口，谢谢！',
				postUrl: 'index.php?m=hr&s=travel&a=submit',
				postData: $('#applyForm').serialize(),
				postConfirm: '确认递交申请？',
				redirectUrl: 'index.php?m=hr&s=travel&a=list',
				tipBeforePost: '目的地、起始-结束日期、指定代办员工、预估费用为必填项，请检查！',
				checkBeforePost: '$("#travelTarget").val()!=0 '
									+'&& $("#travelStartDate").val()!="" '
									+'&& $("#travelEndDate").val()!="" '
									+'&& $("#travelAlter").val()!=0 '
									+'&& $("#travelCurrencyId").val()!=0 '
									+'&& $("#travelExpense").val()!=0'
			})
		})
	})
</script>