<{include file="header.html"}>
<{include file="topnav.html"}>

<div class="container">
	<table>
		<thead>
			<tr><th>申请人</th><th>差旅目的地</th><th>起始-结束</th><th>预算费用</th><th>代办</th><th>状态</th><th>操作</th></tr>
		</thead>
		<tbody>
		<{foreach from=$apply item=a}>
			<tr><td><{$a.applyer}></td>
			<td><{$a.target}></td>
			<td><{$a.start}> ~ <{$a.end}></td>
			<td><{$a.currencyName}><{$a.expense}></td>
			<td><{$a.alter}></td>
			<td><{$a.statusZH}></td>
			<td><{if $a.status==0}><span class="clickbtn cancelApply" i="<{$a.id}>">[撤销]<span><{/if}></td></tr>
		<{/foreach}>
		</tbody>
	</table>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script>
$(function(){
	alertDivInit();

	$('.cancelApply').click(function(){
		alertDivPostData({
			postUrl: 'index.php?m=hr&s=travel&a=applier.cancel',
			postData: {id:$(this).attr('i')},
			postConfirm: '确认撤销此申请？'
		});
	})
})
</script>