<{include file="header.html"}>
<{include file="topnav.html"}>

<style>
.exam {
    margin: 0 auto;
    width: 800px;
}
.exam .examTitle {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}
.exam .examTitle .autoSaveTip {
    font-size: 14px;
    font-weight: normal;
    margin-left: 100px;
}
.exam .examInstruction {
    margin: 10px 0 30px;
}
.exam .question {
    margin: 20px 0;
    font-weight: bold;
}
.exam .question .option {
    margin: 5px 0;
    font-weight: normal;
}
.exam #examSubmit {
    margin: 50px auto;
    width: 150px;
}
</style>

<form id="examForm" method="post" action="index.php?m=exam&s=exam&a=submit&t=<{$examToken}>">
<{foreach from=$exam item=e}>
    <div id="exam" class="exam">
        <div class="examTitle">
            <{$e.name}>
        </div>
        <div class="examInstruction">
            <em><{$e.description}></em>
        </div>
    <{foreach from=$e.question item=q}>
        <div class="question">
        <{$q.i}>. <{$q.content}>
        <{foreach from=$q.option item=o}>
            <div class="option">
            <input <{if $q.ifSingle==1}>type="radio" name="answer_<{$q.id}>"<{else}>type="checkbox" name="answer_<{$q.id}>[]"<{/if}> value="<{$o.id}>"/>
            <{$o.content}>
            </div>
        <{/foreach}>
        </div>
    <{/foreach}>
        <div id="examSubmit" class="clickbtn">[交卷]</div>
    </div>
<{/foreach}>
</form>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script>
function autoSave() {
	//alert($('#examForm').serialize());
	$.post('index.php?m=exam&s=exam&a=save&t=<{$examToken}>',$('#examForm').serialize(),function(data){
		//alert(data);
		var json = eval('(' + data + ')');
		if(json.httpstatus == 200){
			// update tip to tell student autosaved
			$('.examTitle').append('<span class="autoSaveTip">答卷内容已保存...</span>');
			$('.autoSaveTip').fadeOut(5000);
		} else {
			//do nothing
		}
	})
	setTimeout("autoSave()",30000);
}
$(function(){
	$('#examSubmit').click(function(){
		alert($('#examForm').serialize());
		$('#examForm').submit();
	})
	
	autoSave();
})
</script>