<{include file="header.html"}>
<{include file="topnav.html"}>


<div class="container ">
	<table>
		<tr>
			<th>标题</th>
			<th>内容</th>
			<th>开始日期</th>
			<th>结束日期</th>
			<th>操作</th>
		</tr>
		<tr>
			<td><input id="announceTitle" class="span-4"/>+新增</td>
			<td><textarea id="announceDetail"></textarea></td>
			<td><input id="announceStart_date" class="span-3"/></td>
			<td><input id="announceEnd_date" class="span-3"/></td>
			<td><span class="clickbtn span-2" id="addAnnounce"> [添加] </span></td>
		</tr>
		<{foreach from=$announce item=a}>
		<tr>
			<td><input value="<{$a.title}>" class="span-4 announceTitle"/></td>
			<td><textarea class="announceDetail"><{$a.detail}></textarea></td>
			<td><input value="<{$a.start_date}>" class="span-3 announceStart_date"/></td>
			<td><input value="<{$a.end_date}>" class="span-3 announceEnd_date"/></td>
			<td><span class="clickbtn saveAnnounce" i="<{$a.id}>"> [保存] </span> <span class="clickbtn deleteAnnounce" i="<{$a.id}>"> [删除] </span></td>
		</tr>
		<{/foreach}>
	</table>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script>
$(function(){
	alertDivInit();
	
	//init start_date, end_date datepicker
	$('#announceStart_date, #announceEnd_date, .announceStart_date, .announceEnd_date').datepicker({dateFormat:'yy-mm-dd'});
	//add one announce
	$('#addAnnounce').click(function(){
		var title = $.trim($('#announceTitle').val());
		var detail = $.trim($('#announceDetail').val());
		var start_date = $.trim($('#announceStart_date').val());
		var end_date = $.trim($('#announceEnd_date').val());
		alertDivPostData({
			postUrl: 'index.php?m=system&s=setup&a=announce.add',
			postData: {'title':title, 
						'detail':detail, 
						'start_date':start_date, 
						'end_date':end_date},
			checkBeforePost: '"'+title+'"!="" '
								//+'&& "'+detail+'"!="" '
								+'&& "'+start_date+'"!="" '
								+'&& "'+end_date+'"!=""',
			tipBeforePost: '所有内容必填'
		});
	})
	
	//delete one announce
	$('.deleteAnnounce').click(function(){
		alertDivPostData({
			postUrl: 'index.php?m=system&s=setup&a=announce.delete',
			postData: {id:$(this).attr('i')},
			postConfirm: '确认删除此通告？'
		})
	})
	
	//save one announce
	$('.saveAnnounce').click(function(){
		var title = $.trim($(this).parents('tr').find('.announceTitle').val());
		var detail = $.trim($(this).parents('tr').find('.announceDetail').val());
		var start_date = $.trim($(this).parents('tr').find('.announceStart_date').val());
		var end_date = $.trim($(this).parents('tr').find('.announceEnd_date').val());
		alertDivPostData({
			postUrl: 'index.php?m=system&s=setup&a=announce.save',
			postData: {'id':$(this).attr('i'),
						'title':title, 
						'detail':detail, 
						'start_date':start_date, 
						'end_date':end_date},
			checkBeforePost: '"'+title+'"!="" '
								//+'&& "'+detail+'"!="" '
								+'&& "'+start_date+'"!="" '
								+'&& "'+end_date+'"!=""',
			tipBeforePost: '所有内容必填'
		});
	})
})
</script>