<{include file="header.html"}>
<{include file="topnav.html"}>

<style>
div.departLevel1{border:solid 1px orange;background-color:yellow;top:50px;width:120px;float:left;margin-left:30px;font-weight:bold;}
div.departLevel2{border:solid 1px orange;background-color:yellow;top:200px;width:120px;float:left;margin-left:30px;font-weight:bold;}
div.departLevel3{border:solid 1px orange;background-color:yellow;top:350px;width:120px;float:left;margin-left:30px;font-weight:bold;}
div.departLevel1:hover{cursor:move;background-color:orange;}
div.departLevel2:hover{cursor:move;background-color:orange;}
div.departLevel3:hover{cursor:move;background-color:orange;}
div.departManager{font-weight:bold;}
div.departMember{font-weight:bold;}
div.departMember span.departMember{font-weight:normal;}
</style>

<{foreach from=$depart1 item=d}>
<div class="departLevel1" id="<{$d.id}>" p="<{$d.parent_id}>">
<{$d.name}>
<div class="departManager clear">负责：<{$employee[$d.manager_employee_id]['namezh']}></div>
<div class="departMember clear">成员：
<{foreach from=$departMember[$d.id] item=e}>
<span class="departMember"><{$e.namezh}></span>
<{/foreach}>
</div>
</div>
<{/foreach}>
<div class="clear"></div>


<{foreach from=$depart2 item=d}>
<div class="departLevel2" id="<{$d.id}>" p="<{$d.parent_id}>">
<{$d.name}>
<div class="departManager clear">负责：<{$employee[$d.manager_employee_id]['namezh']}></div>
<div class="departMember clear">成员：
<{foreach from=$departMember[$d.id] item=e}>
<span class="departMember"><{$e.namezh}></span>
<{/foreach}>
</div>
</div>
<{/foreach}>
<div class="clear"></div>


<{foreach from=$depart3 item=d}>
<div class="departLevel3" id="<{$d.id}>" p="<{$d.parent_id}>">
<{$d.name}>
<div class="departManager clear">负责：<{$employee[$d.manager_employee_id]['namezh']}></div>
<div class="departMember clear">成员：
<{foreach from=$departMember[$d.id] item=e}>
<span class="departMember"><{$e.namezh}></span>
<{/foreach}>
</div>
</div>
<{/foreach}>
<div class="clear"></div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script>
function makedot(x,y,oc,pc){  //画点函数 
	$('body').append("<div class='connectLineO"+oc+" connectLineP"+pc+"' style='height:2px;position:absolute;left:"+x+"px;top:"+y+"px;width:2px;background:#666666;overflow:hidden'></div>") 
	}

function line(x1,y1,x2,y2,oc,pc){ 
	var slope=(y2-y1)/(x2-x1);  //斜率 
	var diff=x2-x1; 
	if(x1<x2){ 
		for(var i=0;i<diff;i=i+4){ 
			makedot(x1+i,y1+slope*i,oc,pc); 
		} 
	}else if(x1>x2){ 
		for(var i=0;i>diff;i=i-4){ 
			makedot(x1+i,y1+slope*i,oc,pc); 
		} 
	}else{  //画垂直线 
		var temp=y2-y1; 
		if(temp>0){ 
			for(var i=0;i<temp;i=i+4){ 
				makedot(x1,y1+i,oc,pc); 
			} 
		}else{ 
			for(var i=0;i>temp;i=i-4){ 
				makedot(x1,y1+i,oc,pc); 
			} 
		} 
	} 
} 

function getXY(o, p){
	var nodeWidth = 120;//假设节点框宽120px
	var offset = o.offset();
	var offsetParent = p.offset();
	var ox = offset.left;
	var oy = offset.top;
	var px = offsetParent.left;
	var py = offsetParent.top;
	if(oy>(py+p.height())){//子元素位于母元素完全下方，子顶母底
		ox += nodeWidth/2;
		px += nodeWidth/2;
		py += p.height();
	}else{
		if((oy+o.height())<py){//子元素位于母元素完全上方，子底母顶
			oy += o.height();
			ox += nodeWidth/2;
			px += nodeWidth/2;
		}else{//子元素位于母元素中间，子中母中
			//分情况讨论左右
			if((ox+nodeWidth)<px){//子元素完全在母元素左方，子右母左
				ox += nodeWidth;
			}else{
				if(ox>(px+nodeWidth)){//子元素完全在母元素右方，子左母右
					px += nodeWidth;
				}else{//子元素与母元素相交，子左母左
				
				}
			}
			oy += o.height()/2;
			py += p.height()/2;
		}
	}
	line(ox,oy,px,py,o.attr('id'),p.attr('id'));
}

$(function(){
	$('div.departLevel1').draggable({   
		start: function() {
			$('div.connectLineP'+$(this).attr('id')).remove();
		},
		stop: function() {
			$('div.departLevel2[p="'+$(this).attr('id')+'"]').each(function(){
				var o = $(this);
				var p = $('div.departLevel1[id="'+$(this).attr('p')+'"]');
				getXY(o,p);
			})
		}
	});
	$('div.departLevel2').draggable({  
		start: function() {
			$('div.connectLineP'+$(this).attr('id')).remove();
			$('div.connectLineO'+$(this).attr('id')).remove();
		},
		stop: function() {
			$('div.departLevel3[p="'+$(this).attr('id')+'"]').each(function(){
				var o = $(this);
				var p = $('div.departLevel2[id="'+$(this).attr('p')+'"]');
				getXY(o,p);
			})
			var o = $(this);
			var p = $('div.departLevel1[id="'+$(this).attr('p')+'"]');
			getXY(o,p);
		}
	});
	$('div.departLevel3').draggable({  
		start: function() {
			$('div.connectLineO'+$(this).attr('id')).remove();
		},
		stop: function() {
			var o = $(this);
			var p = $('div.departLevel2[id="'+$(this).attr('p')+'"]');
			getXY(o,p);
		}
	});
	$('div.departLevel2').each(function(){
		var o = $(this);
		var p = $('div.departLevel1[id="'+$(this).attr('p')+'"]');
		getXY(o,p);
	})
	$('div.departLevel3').each(function(){
		var o = $(this);
		var p = $('div.departLevel2[id="'+$(this).attr('p')+'"]');
		getXY(o,p);
	})
})
</script>