<{include file="header.html"}>
<{include file="topnav.html"}>


<div class="container">
	<table>
		<tr>
			<th>货币名称</th>
			<th>货币标识</th>
			<th>汇率</th>
			<th>更新日期</th>
			<th>操作</th>
		</tr>
		<tr>
			<td><input id="currencyName" class="span-2"/>+新增</td>
			<td><input id="currencySymbol" class="span-3"/></td>
			<td><input id="currencyRate" class="span-2"/></td>
			<td><span class="clickbtn span-2" id="addCurrency"> [添加] </span></td>
		</tr>
		<{foreach from=$currency item=c}>
		<tr>
			<td><{$c.name}></td>
			<td><{$c.symbol}></td>
			<td><input class="currencyRate span-2" value="<{$c.rate}>"/></td>
			<td><{$c.date}></td>
			<td><span class="clickbtn saveCurrency" i="<{$c.id}>"> [保存] </span> <!-- <span class="clickbtn historyCountry" i="<{$c.id}>"> [历史] </span> --></td>
		</tr>
		<{/foreach}>
	</table>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script>
$(function(){
	
	//add one employee
	$('#addCurrency').click(function(){
		if(confirm('确认要添加新的币种吗？')){
			var name = $.trim($('#currencyName').val());
			var symbol = $.trim($('#currencySymbol').val());
			var rate = $.trim($('#currencyRate').val());
			if(name != '' && symbol != '' && rate != ''){
				$.post('index.php?m=system&s=setup&a=currency.add',{'name':name, 'symbol':symbol, 'rate':rate}, function(data){
					var json = eval('(' + data + ')');
					if(json.httpstatus == 200){
						alert(json.msg);
						window.location.reload();
					}else{
						alert(json.error);
					}
				})
			}else{
				alert('所有内容必填');
			}	
		}
	})
	
	$('.saveCurrency').click(function(){
		if(confirm('确认保存汇率修改结果吗？')){
			var rate = $.trim($(this).parents('tr').find('.currencyRate').val());
			var id = $(this).attr('i');
			if(rate != ''){
				$.post('index.php?m=system&s=setup&a=currency.save',{'rate':rate, 'id':id}, function(data){
					alert(data);
					var json = eval('(' + data + ')');
					if(json.httpstatus == 200){
						alert(json.msg);
						window.location.reload();
					}else{
						alert(json.error);
					}
				})
			}else{
				alert('汇率必填');
			}			
		}
	})
})
</script>