<{include file="header.html"}>
<{include file="topnav.html"}>


<div class="container">
	<table>
		<tr>
			<th>部门名称</th>
			<th>部门缩写</th>
			<th>所属地区</th>
			<th>是否可用</th>
			<th>操作</th>
		</tr>
		<tr>
			<td><input id="departmentName" class="span-2"/>+新增</td>
			<td><input id="departmentNameshort" class="span-3"/></td>
			<td><input id="departmentLocation" class="span-1"/></td>
			<td><input id="departmentAvailable" class="span-1"/></td>
			<td><span class="clickbtn span-2" id="addLocation"> [添加] </span></td>
		</tr>
		<{foreach from=$department item=d}>
		<tr>
			<td><input value="<{$d.name}>" class="span-2 departmentName"/></td>
			<td><input value="<{$d.nameshort}>" class="span-3 departmentNameshort"/></td>
			<td><input value="<{$d.country}>" class="span-1 departmentCountry"/></td>
			<td><input value="<{$d.available}>" class="span-1 departmentAvailable"/></td>
			<td><span class="clickbtn saveDepartment" i="<{$d.id}>"> [保存] </span> <span class="clickbtn deleteDepartment" i="<{$d.id}>"> [删除] </span></td>
		</tr>
		<{/foreach}>
	</table>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>