<{include file="header.html"}>
<{include file="topnav.html"}>


<div class="container">
	<table>
		<tr>
			<th>地区名称</th>
			<th>地区缩写</th>
			<th>所属国家</th>
			<th>可用</th>
			<th>操作</th>
		</tr>
		<tr>
			<td><input id="name" class="span-2"/>+新增</td>
			<td><input id="nameshort" class="span-3"/></td>
			<td><select id="parentid">
				<option value="0">-请选择所属国家-</option>
				<{foreach from=$country item=c}>
					<option value="<{$c.id}>"><{$c.name}></option>
				<{/foreach}>
				</select></td>
			<td><input id="available" type="checkbox" value="1" checked/></td>
			<td><span class="clickbtn span-2" id="addLocation"> [添加] </span></td>
		</tr>
		<{foreach from=$location item=l}>
		<tr>
			<td><input value="<{$l.name}>" class="span-2 name"/></td>
			<td><input value="<{$l.nameshort}>" class="span-3 nameshort"/></td>
			<td><select class="parentid">
				<option value="0">-请选择所属国家-</option>
				<{foreach from=$country item=c}>
					<option value="<{$c.id}>" <{if $l.country_id==$c.id}>selected<{/if}>><{$c.name}></option>
				<{/foreach}>
				</select></td>
			<td><input value="1" class="span-1 available" type="checkbox" <{if $l.available==1}>checked<{/if}>/></td>
			<td><span class="clickbtn saveLocation" i="<{$l.id}>"> [保存] </span> <span class="clickbtn deleteLocation" i="<{$l.id}>"> [删除] </span></td>
		</tr>
		<{/foreach}>
	</table>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script>
$(function(){
	alertDivInit();
	
	$('#addLocation').click(function(){
		var name = $('#name').val();
		var nameshort = $('#nameshort').val();
		var parentid = $('#parentid').val();
		var available = $('#available:checked').val();
		alertDivPostData({
			checkBeforePost: '"'+name+'"!="" && "'+nameshort+'"!=""',
			tipBeforePost: '地区名称及地区简称必填',
			postUrl: 'index.php?m=system&s=setup&a=location.add',
			postData: {'name':name,'nameshort':nameshort,'parentid':parentid,'available':available}
		});
	})
	$('.saveLocation').click(function(){
		var o = $(this).parents('tr');
		var name = o.find('.name').val();
		var nameshort = o.find('.nameshort').val();
		var parentid = o.find('.parentid').val();
		var available = o.find('.available:checked').val();
		var id = $(this).attr('i');
		alertDivPostData({
			checkBeforePost: '"'+name+'"!="" && "'+nameshort+'"!=""',
			tipBeforePost: '地区名称及地区简称必填',
			postUrl: 'index.php?m=system&s=setup&a=location.save',
			postData: {'id':id,'name':name,'nameshort':nameshort,'parentid':parentid,'available':available}
		});
	})
})
</script>