<{include file="header.html"}>
<{include file="topnav.html"}>

<div class="container">
	<table class="span-24">
		<tr><td class="span-6">
			<strong>添加本周活动</strong>
			<hr/>
			<form id="activityForm">
				<table class="span-7">
					<tr><th>日期</th><td><input readonly id="date" name="date" class="span-3"/></td></tr>
					<tr><th>时间</th><td><input readonly id="start" name="start" class="span-2"/> ~ <input readonly id="end" name="end" class="span-2"/></td></tr>
					<tr><th>客户</th><td><select id="customerId" name="customerId">
											<{foreach from=$mycustomer item=mc}>
											<option value="<{$mc.id}>"><{$mc.name}></option>
											<{/foreach}>
										</select></td></tr>
					<tr><th>活动</th><td><textarea class="span-5" id="detail" name="detail" style="height:80px;"></textarea></td></tr>
					<tr><td colspan="2"><span class="clickbtn activitySave">[递交]</span></td></tr>
				</table>
			</form>
		</td>
		<td class="span-18">
			<strong>本周活动列表</strong>
			<table class="span-18">
				<thead>
					<tr><th>日期</th>
					<th>开始</th>
					<th>结束</th>
					<th>客户</th>
					<th>活动</th>
					<th>操作</th></tr>
				</thead>
				<tbody>
					<{foreach from=$activity item=a}>
					<tr><td><{$a.date}></td>
					<td><{$a.start}></td>
					<td><{$a.end}></td>
					<td><{$a.customerName}></td>
					<td><{$a.detail}></td>
					<td><span class="clickbtn activityDelete" i="<{$a.id}>">[删除]</span></td></tr>
					<{/foreach}>
				</tbody>
			</table>
		</td></tr>
	</table>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>

<script>
$(function(){
	alertDivInit();
	var date = new Date();
	var day = date.getDay();
	$('#date').datepicker({
		dateFormat: 'yy-mm-dd',
		minDate: '-'+day+'D',
		maxDate: '+'+(6-day)+'D'
	});
	$('#start, #end').timePicker({step:30, startTime:"08:00", endTime:"20:00"});
	$('.activitySave').click(function(){
		alertDivPostData({
			postUrl: 'index.php?m=sales&s=activity&a=save',
			postData: $('#activityForm').serialize(),
			tipBeforePost: '日期，时间，客户，活动为必填项，请检查！',
			checkBeforePost: '$("#date").val()!="" '
								+'&& $("#start").val()!="" '
								+'&& $("#end").val()!="" '
								+'&& $("#customerId").val()!=0 '
								+'&& $("#detail").val()!=""'
		});
	})
	$('.activityDelete').click(function(){
		alertDivPostData({
			postUrl: 'index.php?m=sales&s=activity&a=delete',
			postData: {id:$(this).attr('i')},
			postConfirm: '确认删除本条记录？'
		});
	})
})
</script>