<{include file="header.html"}>
<{include file="topnav.html"}>

<div class="container">
	<table>
		<tr><th colspan="2">合同基本信息<span class="clickbtn">[编辑]</span></th></tr>
		<tr><td colspan="2"></td></tr>
		<tr>
			<td>
				<table class="span-7">
					<tr><th>销售合同号</th><td>asdfasdf</td></tr>
					<tr><th>签约客户</th><td>asdfasdf</td></tr>
					<tr><th>最终客户</th><td>asdfasdf</td></tr>
					<tr><th>我的团队</th><td>asdfasdf</td></tr>
					<tr><th>客户行业</th><td>asdfasdf</td></tr>
					<tr><th>销售产品</th><td>asdfasdf</td></tr>
					<tr><th>商务</th><td>asdfasdf</td></tr>
				</table>
			</td>
			<td>
				<table class="span-7">
					<tr><th>贸易类型</th><td>asdfasdf</td></tr>
					<tr><th>合同发票</th><td>asdfasdf</td></tr>
					<tr><th>客户合同号</th><td>asdfasdf</td></tr>
					<tr><th>合同币种</th><td>asdfasdf</td></tr>
					<tr><th>合同金额</th><td>asdfasdf</td></tr>
					<tr><th>合同内容</th><td>asdfasdf</td></tr>
					<tr><th>合同备注</th><td>asdfasdf</td></tr>
				</table>
			</td>
		</tr>
		<tr><td colspan="2"></td></tr>
		<tr>
			<td colspan="2">
				<table>
					<tr><th>销售比例<span class="clickbtn">[添加]</span></th></tr>
					<tr><td>
						<table>
							<tr><th>销售</th><th>金额</th><th>比例</th></tr>
							<tr><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td></tr>
						</table>
					</td></tr>
					<tr><th>收款计划<span class="clickbtn">[添加]</span></th></tr>
					<tr><td>
						<table>
							<tr><th>性质</th><th>方式</th><th>条件</th><th>日期(估)</th><th>金额</th><th>比例</th><th>操作</th></tr>
							<tr><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfsdf</td></tr>
							<tr><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfsdf</td></tr>
						</table>
					</td></tr>
					<tr><th>采购计划<span class="clickbtn">[添加]</span></th></tr>
					<tr><td>
						<table>
							<tr><th>描述</th><th>贸易模式</th><th>采购类型</th><th>发票类型</th><th>下单金额(汇率)</th><th>去税预估成本</th><th>运费(费率)</th><th>推荐供应商</th><th>状态</th><th>操作</th></tr>
							<tr><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfsdf</td><td>sdfsdf</td></tr>
							<tr><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfsdf</td><td>sdfsdf</td></tr>
						</table>
					</td></tr>
					<tr><th>费用计划<span class="clickbtn">[添加]</span></th></tr>
					<tr><td>
						<table>
							<tr><th>简述</th><th>详情</th><th>发票</th><th>金额</th><th>操作</th></tr>
							<tr><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfs</td><td>dsfsdf</td></tr>
							<tr><td>sdfs</td><td>dsfsdf</td><td>sdfsdf</td><td>sdfs</td><td>dsfsdf</td></tr>
						</table>
					</td></tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<{include file="declaration.html"}>
<{include file="footer.html"}>